<%include ./partials/header%>

<form action="/roundInfo" method="POST">
	<input type="number" name="typeA" placeholder="typeA">
	<input type="number" name="typeB" placeholder="typeB">
	<input type="number" name="typeC" placeholder="typeC">
	<input type="number" name="factorA" placeholder="factorA">
	<input type="number" name="factorB" placeholder="factorB">
	<input type="number" name="factorC" placeholder="factorC">
	<input type="number" name="round" placeholder="Round number">
	<button>Submit</button>
</form>

<% include ./partials/footer %>